/* styles for my resume */

/* Font for entire page */

html, body {
  font-family: "arial", sans-serif;
}

/* Name at top of the page*/
#name {
  color: #33485e;                      
  text-transform: uppercase; 
  text-align: center;
  font-size: 3em;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* Title */

#title {
  color: #33485e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 0 0;
}

/* Section Headers */

.sectionheader {
  color: #fff; 
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: #33485e;
  font-weight: 400;
  margin: 20px 0 10px 0;
  padding: 5px 0 5px 10px;
  width: 100%;
  min-width: 300px;
}

/* Job titles */

.jobtitle {
  font-weight: 600;
  font-size: 1.2em;
}

/* Job Organization */

.organization {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
}

/* Job Date */

.date {
  font-weight: 700;
  font-size: 1em;
  margin: 2px 0 0 0;
}


ul {
  font-size: 1em;
  margin-top: 2px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

ul.menu {
  margin: 10px 0 20px 0;
  padding: 0;
  text-align: center;
}

.menu li {
    display: inline;
    padding: 0 20px;
}
    

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.description {
    margin: 10px 0;
}

#degrees {
    margin: 5px 0 0 0;
}

#do {
    margin: 5px 0 0 0;
}

#headshot {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #33485e;
}

#headshot-container {
  text-align: center;
}

a:link {
    font-weight: 600;
    color: #0bc5f4;
}

a:hover {
    color: #33485e;
}

a:visited {
    color: #6e38c7;
}
